Repository carbon-design-system/carbon-components-angular, pull requests merged in 2019-06, with the labels that each got.

#601 fix: backport fixes to v9
  src/datepicker-input/datepicker-input.component.ts
  src/datepicker/datepicker.component.ts
  src/datepicker/datepicker.stories.ts
  src/file-uploader/file-uploader.component.ts
  src/file-uploader/file.component.ts
Labels: needs review

#603 fix(datepicker): fix dateFormat option generation
  package-lock.json
  package.json
  src/datepicker/datepicker.component.ts
  src/datepicker/datepicker.stories.ts
Labels: component: Date Picker, needs review

#611 fix(dropdown): toggling in ie11
  .storybook/manager-head.html
  src/dropdown/dropdown.component.ts
Labels: component: Dropdown, needs review

#606 fix(number): Fix number button type
  src/number-input/number.component.ts
Labels: component: Number, needs review

#516 feat(shell): hamburger on click event + template addition
  package-lock.json
  src/ui-shell/header/hamburger.component.ts
  src/ui-shell/ui-shell.stories.ts
Labels: needs review

#612 fix(datepicker): guard elementRef and add carbon month plugin
  package-lock.json
  package.json
  src/datepicker-input/datepicker-input.component.ts
  src/datepicker-input/datepicker-input.module.ts
  src/datepicker/carbon-flatpickr-month-select.ts
  src/datepicker/datepicker.component.ts
  src/datepicker/datepicker.module.ts
  src/documentation-component/documentation.module.ts
Labels: component: Date Picker, needs review, 🚨 critical 🚨
